<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function fn_mod_act(){
	document.frm.submit();
}
</script>
</head>
<body>
EMP_MOD
<form action="emp_mod_act" name="frm" method="post">
{% csrf_token %}
	<table border="1">
		<tr>
			<th>사번</th>
			<td><input type="text" name="e_id" value="{{emp.E_ID}}"/></td>
		</tr>
		<tr>
			<th>이름</th>
			<td><input type="text" name="e_name" value="{{emp.E_NAME}}"/></td>
		</tr>
		<tr>
			<th>성별</th>
			<td><input type="text" name="gen" value="{{emp.GEN}}"/></td>
		</tr>
		<tr>
			<th>주소</th>
			<td><input type="text" name="addr" value="{{emp.ADDR}}"/></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="저장" onclick = "fn_mod_act()"/>
				
			</td>
		</tr>
	</table>
</form>
</body>
</html>