<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function fn_mod(){
	location.href = "emp_mod?e_id={{emp.E_ID}}";
}

function fn_del(){
	location.href = "emp_del?e_id={{emp.E_ID}}";
}
</script>
</head>
<body>
EMP_DETAIL
<form name="frm" action="emp_del_act" method="post">
	<input type="hidden" name="e_id" value="{{emp.E_ID}}"/>
</form>
<table border="1">
	<tr>
		<th>사번</th>
		<td>{{emp.E_ID}}</td>
	</tr>
	<tr>
		<th>이름</th>
		<td>{{emp.E_NAME}}</td>
	</tr>
	<tr>
		<th>성별</th>
		<td>{{emp.GEN}}</td>
	</tr>
	<tr>
		<th>주소</th>
		<td>{{emp.ADDR}}</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="수정" onclick= "fn_mod()"/>
			<input type="button" value="삭제" onclick= "fn_del()"/>
		</td>
	</tr>
	
	
</body>
</html>