<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function fn_add_act(){
	document.frm.submit();
}
</script>
</head>
<body>
MEM_ADD
<form action="mem_add_act" name="frm" method="post">
{% csrf_token %}
	<table border="1">
		<tr>
			<th>회원번호</th>
			<td><input type="text" name="m_id" /></td>
		</tr>
		<tr>
			<th>이름</th>
			<td><input type="text" name="m_nm" /></td>
		</tr>
		<tr>
			<th>전화번호</th>
			<td><input type="text" name="tel" /></td>
		</tr>
		<tr>
			<th>주소</th>
			<td><input type="text" name="address" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="추가" onclick = "fn_add_act()"/>
				
			</td>
		</tr>
	</table>
</form>
</body>
</html>